.admin-container {
  padding: 40px;

  min-height: 100vh;

  background: #020817;

  color: white;
}

.admin-title {
  font-size: 56px;
  font-weight: 800;

  color: #66ff66;

  margin-bottom: 10px;
}

.admin-subtitle {
  color: #9ca3af;

  margin-bottom: 40px;

  font-size: 18px;
}

.admin-table-wrapper {
  overflow-x: auto;

  background: #0f172a;

  border-radius: 24px;

  padding: 25px;

  border: 1px solid rgba(255,255,255,0.06);
}

.admin-table {
  width: 100%;

  border-collapse: collapse;
}

.admin-table th {
  text-align: left;

  padding: 20px;

  color: #66ff66;

  font-size: 18px;

  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.admin-table td {
  padding: 20px;

  border-bottom: 1px solid rgba(255,255,255,0.05);

  color: #e5e7eb;
}

.role-select {
  padding: 10px 14px;

  border-radius: 10px;

  background: #1e293b;

  color: white;

  border: none;
}

.delete-btn {
  padding: 10px 18px;

  border: none;

  border-radius: 10px;

  background: #ef4444;

  color: white;

  cursor: pointer;

  font-weight: 600;

  transition: 0.3s;
}

.delete-btn:hover {
  background: #dc2626;
}

.edit-input {

  width: 100%;

  padding: 10px 14px;

  border-radius: 10px;

  border: 1px solid #2b3650;

  background: #17233c;

  color: white;

  font-size: 14px;

  outline: none;
}

.edit-input:focus {

  border-color: #6cff5c;
}

.action-buttons {

  display: flex;

  gap: 10px;
}

.update-btn {

  background: #6cff5c;

  color: black;

  border: none;

  padding: 10px 18px;

  border-radius: 10px;

  cursor: pointer;

  font-weight: 600;
}

.update-btn:hover {

  opacity: 0.9;
}

.admin-table tr:hover{
  background:rgba(255,255,255,0.03);
}

.admin-table{
  border-spacing:0 10px;
}

.update-btn,
.delete-btn{
  transition:0.3s;
}

.update-btn:hover,
.delete-btn:hover{
  transform:translateY(-2px);
}